<!DOCTYPE html>
<html>
  <head>
    <title>Instagraph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.openPage = "<%= image_url('Find-post.png') %>"
      window.logoIns = "<%= image_url('logo.png') %>"
      window.navigationImg = "<%= image_url('navigation.png') %>"
      window.userImg = "<%= image_url('user.png') %>"
      window.likeImg = "<%= image_url('like.png') %>"
      window.redlikeImg = "<%= image_url('redlike.png') %>"
      window.commentImg = "<%= image_url('comment.png') %>"
      window.shareImg = "<%= image_url('upload.png') %>"
      window .tagImg = "<%= image_url('tag.png') %>"
      window.searchImg = "<%= image_url('search.png') %>"
      window.openPageGIF = "<%= image_url('S9Dq.gif') %>"
      window.addImg = "<%= image_url('add-button.png') %>"
      window.settingImg = "<%= image_url('gear.png') %>"
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= favicon_link_tag asset_path('Instagram-Icon.png'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
